<%- include header%>

<link rel="stylesheet" href="/stylesheets/bus-routes.css">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-wrap">
                <input type="text" name="bus-route" class="no-border input-large" placeholder="公交线路名称，如&quot; 616&quot; ">
            </div>
        </div>
    </div>
</div>

<%- include footer%>