<%- include header%>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="input-wrap">
                <input type="text" name="bus-stop" class="no-border input-large" placeholder="公交站名称，如&quot; 西北大学南校区东门&quot; ">
            </div>
        </div>
    </div>
</div>

<%- include footer%>