<%- include header%>

<link rel="stylesheet" href="/stylesheets/index.css">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="input-wrap begin-stop">
        <input type="text" name="begin-stop" class="no-border input-small" placeholder="请输入起点">
      </div>
      <span class="glyphicon glyphicon-transfer transfer" aria-hidden="true"></span>
      <div class="input-wrap end-stop">
        <input type="text" name="end-stop" class="no-border  input-small" placeholder="请输入终点">
      </div>
    </div>
  </div>
</div>

<%- include footer%>