body{
    font-family: "microsoft yahei";
}
nav{
    margin-bottom:20px;
}
.input-wrap{
    border: 1px solid #d2d2d2;
    position: relative;
    height: 30px;
    box-shadow: 1px 1px 0 0 rgba(0,0,0,.3) inset;
}
.no-border{
    border: 0;
    outline: 0;
    position: relative;
    left: 10px;
    top: 3px;
}
.input-large{
    width: 535px;
}
.input-small{
    width: 180px;
}
.query{
    margin-top: 10px;
}