body{
    font-family: "microsoft yahei";
}
.tabs{
    margin-bottom: 20px;
}
.navbar-nomargin{
    margin-bottom: 0;
}
.logo{
    height: 100px;
    margin-top: 70px;
    margin-bottom: 20px;
    background: url("../images/logo.png") no-repeat center center;
}
.query{
    margin-top: 20px;
}