<footer class="admin-content-footer">
	<hr>
	<p class="am-padding-left">Copyright © liuyuhang 2016</p>
</footer>
</div>
</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/amazeui/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/amazeui/js/jquery.min.js"></script>
<!--<![endif]-->
<script src="/amazeui/js/amazeui.min.js"></script>
<script src="/amazeui/js/app.js"></script>
</body>
</html>
