<!doctype html>
<html class="no-js fixed-layout">
<%- include head %>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
	以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar am-topbar-inverse admin-header">
	<div class="am-topbar-brand">
		<strong>公交查询系统</strong> <small>后台管理</small>
	</div>

	<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

	<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

		<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
			<li><a href="/">查询前台</a></li>
			<li class="am-dropdown" data-am-dropdown>
				<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
					<span class="am-icon-users"></span> <%= username %> <span class="am-icon-caret-down"></span>
				</a>
				<ul class="am-dropdown-content">
					<li><a href="/logout"><span class="am-icon-power-off"></span> 退出</a></li>
				</ul>
			</li>
			<li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
		</ul>
	</div>
</header>

<div class="am-cf admin-main">
	<!-- sidebar start -->
	<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
		<div class="am-offcanvas-bar admin-offcanvas-bar" style="overflow-y:hidden">
			<ul class="am-list admin-sidebar-list">
				<li><a href="/admin"><span class="am-icon-home"></span> 首页</a></li>
				<li><a href="/routemanage"><span class="am-icon-table"></span> 管理线路</a></li>
				<li><a href="/stopmanage"><span class="am-icon-puzzle-piece"></span> 管理站点</a></li>
				<!--<li class="admin-parent">-->
					<!--<a class="am-cf" data-am-collapse="{target: '#collapse-nav-routes'}"><span class="am-icon-file"></span> 公交线路 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>-->
					<!--<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-routes">-->
						<!--<li><a href="/routeadd" class="am-cf"><span class="am-icon-check"></span> 新增线路</a></li>-->
						<!--<li><a href="/routemanage"><span class="am-icon-puzzle-piece"></span> 管理线路</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<!--<li class="admin-parent">-->
					<!--<a  class="am-cf" data-am-collapse="{target: '#collapse-nav-stops'}"><span class="am-icon-table"></span> 公交站点 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>-->
					<!--<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-stops">-->
						<!--<li><a href="/stopadd" class="am-cf"><span class="am-icon-check"></span> 新增站点</a></li>-->
						<!--<li><a href="/stopmanage"><span class="am-icon-puzzle-piece"></span> 管理站点</a></li>-->
					<!--</ul>-->
				<!--</li>-->
				<li><a href="/logout"><span class="am-icon-sign-out"></span> 注销</a></li>
			</ul>
			<div class="am-panel am-panel-default admin-sidebar-panel">
				<div class="am-panel-bd">
					<p><span class="am-icon-tag"></span> Welcome</p>
					<p>欢迎使用公交查询系统^_^</p>
				</div>
			</div>
		</div>
	</div>
	<!-- sidebar end -->
	<!-- content start -->
	<div class="admin-content">
		<div class="admin-content-body">